<p><a href="/rock">Play Rock</a></p>

<p><a href="/paper">Play Paper</a></p>

<p><a href="/scissors">Play Scissors</a></p>

<%= yield %>

<p><a href="https://rps-rcav.matchthetarget.com/">Rules</a></p>

Copyright, AppDev 2023. All rights reserved.
